<% if @comments %>
	<% @comments.each do |comment| %>
		<div class="comment container">
			<a class="parent" href="/posts/<%= comment.post.id %>">Parent post: <%= comment.post.title %></a>
			<a class="user" href="/users/<%= comment.user.id %>"><%= comment.user.name %></a>
			<span><%= comment.created_at %></span>
			<span><%= comment.updated_at %></span>
			<span><%= comment.content %></span>
		</div>
	<% end %>
<% end %>