<% if @post %>
	<div class="post container">
		<div class="title"><%= @post.title %></div>
		<div class="meta">
			Posted by <a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a>
			<span><%= ((Time.now - @post.created_at)/60).floor %> minutes ago</span> | <%= @post.comments.count %> Comments
		</div>
		<div class="content"><%= @post.content %></div>
	</div>
	<% unless @post.comments.empty? %>
		<div class="comments container">Comments:
			<% @post.comments.each do |comment| %>
				<div class="meta">
					Posted by <a class="user" href="/users/<%= comment.user.id %>"><%= comment.user.name %></a>
					<span><%= ((Time.now - comment.created_at)/60).floor %> minutes ago
				</div>
				<p><%= comment.content %></p>
			<% end %>
		</div>
	<% end %>
<% end %>