<% if @posts %>
<ol>
	<% @posts.each do |post| %>
	<li class="post">
		<div class="title">
			<a href="/posts/<%= post.id %>"><%= post.title %></a>
		</div>
		<div class="meta">
			<a href="/users/<%= post.user.id %>"><%= post.user.name %></a>
			<span>Posted <%= ((Time.now - post.created_at)/60).floor %> minutes ago</span>
			<!-- <span><%= post.updated_at %></span> -->
			<a href="/posts/<%= post.id %>"><%= post.comments.count %> Comments</a>
		</div>
	</li>
	<% end %>
</ol>
<% end %>