<% if @posts.any? %>
<ol>
	<% @posts.each do |post| %>
	<li class="post">
		<div class="title">
			<a href="/posts/<%= post.id %>"><%= post.title %></a>
		</div>
		<div class="meta">
			Posted by <a href="/users/<%= post.user.id %>"><%= post.user.name %></a>
			<span><%= ((Time.now - post.created_at)/60).floor %> minutes ago</span> | <a href="/posts/<%= post.id %>"><%= post.comments.count %> Comments</a>
		</div>
	</li>
	<% end %>
</ol>
<% else %>
<div class="container">
	<p><%= @user.name %> hasn't made any posts yet.</p>
</div>
<% end %>